.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  margin: 16px 0;
  min-width: 400px;
}
.flag {
  width: 96px;
  min-width: 48px;
  margin-right: 16px;
}
.flag img {
  width: 100%;
  height: auto;
}
.heading {
  font-size: 2em;
}
.card {
  width: 400px;
}
.card:not(:last-child) {
  margin-bottom: 16px;
}
.listItem:not(:last-child) {
  margin-bottom: 8px;
}
.listItemHeading {
  color: grey;
  font-size: 0.75em;
  text-transform: uppercase;
  padding-left: 4px;
}
.listItemContent {
  display: flex;
  align-items: center;
}
.listItemIcon {
  margin-right: 16px;
}

@media only screen and (max-width: 600px) {
  .flag {
    width: 48px;
  }
  .heading {
    font-size: 1.5em;
  }
  .card {
    width: 100%;
  }
}
